- set_meta_tags title: "確認画面"

%div#confirm
  %p
    最近
    %span.target-name= @target.name
    %span.target-id= "(@#{@target.screen_name})"
    さんにリプライを送っている人が
    %span.block-count= @users.count
    人見つかりました

  %p#block-button
    = form_tag(controller: 'top', action: 'block') do
      = hidden_field(:target, :data, value: {target_name: @target.screen_name, max_id: @max_id, since_id: @since_id, blocked_ids: @blocked_ids, include_following: @include_following, adq: @adq}.to_json)
      = button_tag("ブロックする", class: "btn btn-danger btn-block btn-lg", data: {disable_with: "ブロック処理中"})

%ul#block_ids.list-group
  - @users.each do |user|
    %li.list-group-item(style="overflow: auto;")
      .col-sm-6.col-lg-4
        = link_to image_tag(user.profile_image_uri_https, size:"60x60"), "#{Settings["twitter_page"]}#{user.screen_name}", target: '_blank', title: user.name, class: "icon-twitter"
        .account
          = link_to "#{Settings["twitter_page"]}#{user.screen_name}", target: '_blank', title: user.name do
            %span.name
              = user.name
            %br
            %span.screen-name
              = "@"+user.screen_name
          - if user.following?
            %div.following
              %span.label.label-danger フォロー中
      .tweets.col-sm-6.col-lg-8
        = @tweets_dict[user].text
