.jumbotron
  %h2= "#{Settings.app_name}"
  %p
    特定のアカウントやツイートにリプライを飛ばしているアカウントを、まとめてブロックしたりミュートしたりするツールです。
  %br
  %p
    特定のワードを除外したり、特定のワードをリプライしてる人のみを絞り込んだり、ツイートを1つ1つ見ながらブロックすることも出来ます。

#index-body
  - if signed_in?
    .col-md-8.col-sm-12
      = form_tag({controller: 'top', action: 'confirm'}, method: :get, enforce_utf8: false) do
        #twid-input
          .input-form.col-xs-12.col-sm-6.col-md-8
            .input-group
              %span.input-group-addon @
              = text_field_tag :twitter_id, nil, class: "form-control", placeholder: "Twitter ID"
          .submit-button.col-xs-12.col-sm-6.col-md-4
            = submit_tag("へリプしてる人を探す", name: "from_id", class: "btn btn-primary btn-block", data: {disable_with: "検索中..."})
        #twstatus-input
          .input-form.col-xs-12.col-sm-6.col-md-8
            = text_field_tag :status_url, nil, class: "form-control", placeholder: "https://twitter.com/xxxxxxxx/status/1234567890"
          .submit-button.col-xs-12.col-sm-6.col-md-4
            = submit_tag("へリプしてる人を探す", name: "from_url", class: "btn btn-primary btn-block", data: {disable_with: "検索中..."})
        .checkbox
          = check_box_tag(:include_following, true, false)
          = label_tag(:include_following, "フォロー中の人を含める")
        #advanced-option
          %a.btn.btn-default(data-toggle="collapse" data-target="#collapse-option")
            高度な検索オプション
          #collapse-option.collapse
            %div
              = label_tag(:any_words, "次の言葉のいずれかを含むリプライを検索")
              = text_field_tag :any_words, nil, class: "form-control", placeholder: "詫び石 ナーフ"
            %div
              = label_tag(:none_words, "次の言葉のいずれかを含むリプライは除外")
              = text_field_tag :none_words, nil, class: "form-control", placeholder: "お疲れ様 ありがとう"
      %br
      %h4
        不具合に関するお詫び
      %p
        %a{ href: 'https://twitter.com/TwitterAPI/status/1004823735772241920'}
          Twitterの仕様変更
        の影響で，2018年6月13日ごろから6月29日までサービスを利用できない状態になっていました．
        %br
        仕様変更に対応し，現在は利用できると思います．ご迷惑をおかけしました．
        %br
        もし不具合などお気づきのことがあれば，気軽に
        %a{ href: 'https://twitter.com/@White_mak4026'}
          Twitter
        までご連絡いただけると，できるだけ早く対応ができると思います．
      %h4
        機能追加のおしらせ
      %p
        ツイートのURLを指定してブロック/ミュート対象を検索できるようになりました．
      %p
        ちゃんと動作するはずですが，何かおかしかったら教えて下さい．
      %h4
        継続してご利用いただいてる方へ
      %p
        %a{ href: 'http://amzn.asia/1J9d8BG'}
          ほしいものリスト
        から何かしら送っていただけると機能改善の糧になります．何卒...
  - else
    %div
      = button_to 'Twitterでログイン',  '/auth/twitter', class: "btn btn-primary btn-block btn-lg"
      = render partial: "integration"

= render partial: "howtouse", locals: { is_about: false }
