.jumbotron
  %h2= "#{Settings.app_name}"
  %p
    特定のアカウントにリプライを飛ばしているアカウントをまとめてブロックするツールです.

#index-body
  - if signed_in?
    .col-md-6.col-sm-8
      = form_tag({controller: 'top', action: 'confirm'}, method: :get, enforce_utf8: false) do
        #twid-input
          .input-form.col-xs-12.col-sm-6
            .input-group
              %span.input-group-addon @
              = text_field_tag :twitter_id, nil, class: "form-control", placeholder: "Twitter ID"
          .submit-button.col-xs-12.col-sm-6
            = button_tag("にリプしてる人を探す", name: nil, class: "btn btn-primary btn-block", data: {disable_with: "検索中..."})
        .checkbox
          = check_box_tag(:include_following, true, false)
          = label_tag(:include_following, "フォロー中の人を含める")
        #advanced-option
          %a.btn.btn-default(data-toggle="collapse" data-target="#collapse-option")
            高度な検索オプション
          #collapse-option.collapse
            %div
              = label_tag(:any_words, "次の言葉のいずれかを含むリプライを検索")
              = text_field_tag :any_words, nil, class: "form-control", placeholder: "詫び石 ナーフ"
            %div
              = label_tag(:none_words, "次の言葉のいずれかを含むリプライは除外")
              = text_field_tag :none_words, nil, class: "form-control", placeholder: "お疲れ様 ありがとう"

  - else
    %div
      = button_to 'Twitterでログイン',  '/auth/twitter', class: "btn btn-primary btn-block btn-lg"
      = render partial: "integration"

= render partial: "howtouse", locals: { is_about: false }
