!!! 5
%html
  %head
    %title= Settings.app_name
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-toggle" => "collapse", "data-target" => "#twnav"}
            %span.sr-only メニュー
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to Settings.app_name_short, :root, class: "navbar-brand"

        #twnav.collapse.navbar-collapse
          %ul.nav.navbar-nav
            - if signed_in?
              %li
                / = render partial: '/layouts/user_icon', locals: { user: current_user, size: "18x18", klass: "margin_minus2" }
                = render partial: '/layouts/user_icon', locals: { user: current_user, size: "20x20", klass: "icon-twitter"}
              %li
                - if current_user.present?
                  = link_to_if current_user.name.present?, current_user.name + "でログイン中", "#{Settings[current_user.last_login_provider + '_page']}#{current_user.name}", target: '_blank'

              %li
                = link_to "Logout", logout_path
            - else
              %li
                = link_to 'Twitterでログイン',  '/auth/twitter'
    .container
      = simple_format(flash[:notice], style: "color: green;") if flash[:notice].present?
      = simple_format(flash[:alert], style: "color: red;")    if flash[:alert].present?

      = yield

      %br/
      %br/

    %center
      Developed by
      = link_to "@White_mak4026", "https://twitter.com/@White_mak4026"
